<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body class="p-3 mb-2 bg-light text-dark" >
<header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a  class="nav-link active">Organisez Vos Contacts</a>
        <a class="nav-link active" aria-current="page" th:href="@{/}">Liste des contacts</a>
        <a class="nav-link" th:href="@{/showNewContactForm}">Ajouter un contact</a>
        <a class="nav-link" th:href="@{/lookforcontact}">Chercher un contact</a>
       <!--  <a class="nav-link disabled">Disabled</a> -->
        <!-- <a class="nav navbar-nav navbar-right" th:href="@{/login?logout}">Logout</a> -->
      </div>
    </div>
  </div>
</nav>
 </header> 
  <section layout:fragment="content">
  <div class="container">
		<h1>Contact Management System</h1>
		<hr>
		<h2>Update Contact</h2>

		<form action="#" th:action="@{/saveContact}" th:object="${contact}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			    <input type="text" th:field="*{nom}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{prenom}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{telephone}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lien}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Mettre à jour</button>
		</form>
		
		<hr>
		<br/><br/><br/><br/>
		<!--  <a th:href = "@{/}">Retour à la liste des Contacts</a> -->
	</div>
  
  
  </section> 
  <br/><br/><br/>
 <footer>
  <div class="navbar-fixed-bottom">
   <small>@ Gestion des contacts</small>
  </div> 
 </footer>

</body>
</html>